{{define "title"}}Create a new Snippet{{end}}

{{define "main"}}
<form action="/snippet/create" method="POST">
  <div>
    <label for="">Title</label>
    <input type="text" name="title">
  </div>
  <div>
    <label for="">Content</label>
    <textarea name="content" id="" cols="30" rows="10"></textarea>
  </div>
  <div>
    <label for="">Delete in:</label>
      <input type="radio" name="expires" value="365" checked>One Year
      <input type="radio" name="expires" value="7">One Week
      <input type="radio" name="expires" value="1">One day
  </div>
  <div>
    <input type="submit" value="Publish snippet">
  </div>
</form>
{{end}}
